.thirdsecContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-left: 360px;
    /* overflow: hidden; */
}

.rightsideText p {
    width: 70%;
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #00595F;
    text-align: center;
}

.history {
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 20px 30px;
    width: 428px;
    z-index: -1000;
}

.history table {
    width: 200px;
    border: 0;
    margin-top:10px ;

    
}

.history th, .history td {
    padding:5px 20px;
    text-align: center;
    font-size: 10px;
    
}
.history tr:nth-of-type(2){
    margin-top: 10px;
}

.history thead {
    background-color: #00595F;

}
.history a{
    color:#00595F;
    float: inline-end;
    font-size: 10px;
}
.history span{
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}

.history thead th:nth-of-type(1){
    border-radius: 20px 0 0 20px;
}
.history thead th:nth-of-type(3){
    border-radius: 0 20px 20px 0;
}

.history thead th {
    border: 0;
    color: white;
    font-size: 12px ;
    border-spacing:0 ;
}





@media only screen and (max-width: 767px) {
    .thirdsecContainer {
        /* visibility: hidden; */
        display: block;
        /* margin-top: -1480px; */
        margin-left: 0;
        overflow: hidden;
        /* position: relative; */
        /* z-index: 110; */
        /* background-color: red; */
    
    }

    .rightsideText p {
        width: 60%;
        margin-left: 120px;
        font-size: 10px;
        text-align: center;
        margin-top: -1730px;
        position: absolute;
        z-index: -10;

    }

    .history {
        width: 250px;
        margin: 0 auto;
        padding: 20px;
        margin-top: -1930px;
        z-index: -10;
        box-shadow: 0;
        /* background-color: aquamarine; */
        position:absolute;
        margin-left: 120px;
        overflow: hidden;
    }

    .history table {
        width: 100%;
    }

    .history th, .history td {
        padding: 5px;
        font-size: 12px;
    }

    .history thead th {
        font-size: 14px;
    }

    .history thead th:nth-of-type(1) {
        border-radius: 20px 20px 0 0;
    }

    .history thead th:nth-of-type(3) {
        border-radius: 0 0 20px 20px;
    }

    .history a {
        float: none;
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
    }

    .history span {
        font-weight: 600;
    }
}
