.selectForm{
    width: 300px;
    margin-left: 550px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    color: teal;
    
}
.spinner {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
}