.formbigContainer{
    background-image: linear-gradient(50deg,#00595F, white 60%,#00595F);
    background-repeat: no-repeat;
    background-size: cover;
   padding: 5px;
    overflow: hidden;

}
.formContainer{
    display: flex;
    justify-content: center;
    margin: 150px auto 105px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    width: 700px;
}
.form{
    padding: 40px 20px;
    width: 400px;
    background-color: white;
    border-radius: 10px 0 0 10px;

}
.submitButton{
    margin: 20px 0 20px 110px;
    background-color: #00595F;
}
.form .forgotpassword{
    color: grey;
    margin-top:20px;
    margin-left: 90px;
    font-size: 12px;
    

}
.formside{
    width: 400px;
    height: auto;
    border-radius: 0 10px 10px 0;

    background-image: url("/public/backGroundImage.jpg");
    background-size: cover;
    animation: slid .5s linear;
    
}

@keyframes slid{
    0%{
        transform: translate(-400px);

    }
    100%{
        transform: translate(00px);

    }
}
.signText{
    color: #00595F;
    margin-left: 100px;
}
.formsidebtn{
    margin:150px 0 0 120px ;
    background-color: #00595F;
    font-size: 20px;


}

/* MEDIA QUERY */
@media(max-width: 600px) {
    .formContainer {
      margin: 50px auto 30px;
      width: 90%;
      height: 90vh;
    }
  
    /* .form {
      padding: 20px;
      width: 90%;
    } */
    .formside{
      display: none;
    }
  
    .submitButton {
      margin: 20px auto;
    }
  
    .form .forgotpassword {
      margin-left: 0;
      text-align: center;
    }
  
    .formside {
      width: 100%;
      border-radius: 0;
    }
  
    .formsidebtn {
      margin: 20px auto;
    }
  
    .signText {
      margin: 20px auto;
      text-align: center;
    }
  }
  